<div>
	<b>{{ .Title }}</b></br>
	{{- if .Workloads }}
	<b>Affected Workloads</b></br>
	{{- range .Workloads }}
	&#x25AB; {{ . }} </br>
	{{- end }}
	{{- end }}

	{{- if .Commits }}
	<b>Commits</b></br>
	{{- range .Commits }}
	&#x25AB; <a title="{{- if .User }}Released by {{ .User }}{{ end }}" href="{{ $.VCSRootURL }}/commit/{{ .Revision }}">{{ .ShortRevision }}</a>
	{{- if .Message }} - {{ .Message }}{{- end }}</br>
	{{- end }}
	{{- end }}

	{{- if .Namespaces }}
	<b>Affected Namespaces</b></br>
	{{- range .Namespaces }}
	&#x25AB; {{ . }} </br>
	{{- end }}
	{{- end }}
</div>
